In [1]:

    var SparkConf = require('eclairjs/SparkConf');
    var SparkContext = require('eclairjs/SparkContext');
    var sparkConf = new SparkConf().setAppName("JavaScript SQLTransformerExample");
    var sc = new SparkContext(sparkConf);

In [2]:
    var SQLContext = require('eclairjs/sql/SQLContext');
    var RowFactory = require('eclairjs/sql/RowFactory');
    var StructType = require('eclairjs/sql/types/StructType');
    var StructField = require('eclairjs/sql/types/StructField');
    var DataTypes = require('eclairjs/sql/types').DataTypes;
    var Metadata = require('eclairjs/sql/types/Metadata');
    var SQLTransformer = require('eclairjs/ml/feature/SQLTransformer');

    var sqlContext = new SQLContext(sc);

 $example on$

In [3]:
    var jrdd = sc.parallelize([
      RowFactory.create([0, 1.0, 3.0]),
      RowFactory.create([2, 2.0, 5.0])
    ]);
    var schema = new StructType( [
      new StructField("id", DataTypes.IntegerType, false, Metadata.empty()),
      new StructField("v1", DataTypes.DoubleType, false, Metadata.empty()),
      new StructField("v2", DataTypes.DoubleType, false, Metadata.empty())
    ]);
    var df = sqlContext.createDataFrame(jrdd, schema);

    var sqlTrans = new SQLTransformer().setStatement(
      "SELECT *, (v1 + v2) AS v3, (v1 * v2) AS v4 FROM __THIS__");

    var output=sqlTrans.transform(df);
var result = output;
    result.show(20,true);

 $example off$

In [4]:
    sc.stop();